doctype html 
html 
  head 
    style 
      include ../static/style.css 
  body 
    nav#navbar.top
        ul
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact us] 
            li #[a(href="/") Services] 
    section#introsection 
          div|Welcome to our Dance Academy 
          div.small|Eat sleep Dance Repeate
    section#sponsersection 
           h2 Our sponser 
    footer#footer 
          |Our footer here
    script 
      include ../static/index.js