@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Anton', sans-serif;    
}
.cardbox{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.card-content p{
    font-size: 18px;
}
.card-content{
    padding: 0 12px;
}
.card-img{
    height: 50px;
    padding: 0 14px;
}
.card-img img{
    height:inherit;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin-right: 10px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
img{
    height: 60px;
    filter: invert(1);
}
#navbar{
    background-color: #d43b3b;
    padding: 2px 14px;
}
#navbar ul{
    display: flex;
    flex-direction:row;
    align-items: center;
    /* justify-content: center; */
}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 13px 20px;
    font-size: 16px;
    color: white;
}   
#navbar li a:hover{
    color: black;
    
}
#introsection {
    background: center/cover no-repeat url("/static/img/bg-2.jpg");
    font-family: 'Lobster', cursive;
    font-size: 60px;
    padding-bottom: 40px;
   height: 425px;
   color:#af5858;
   /* color:gold; */
   /* opacity: 0.8; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#introsection div.small{
    font-size: 35px;

}
#sponsersection {
 height: 300px;
 background-color:#fbd6d6c7;
 font-family: 'Lobster', cursive;
}
#sponsersection h2{
    text-align: center;
    padding: 12px;
}
#missionsection{
    height: 300px;
    width: 67%;
    margin: auto;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 6px;
    width: 30%;
    height: 200px;
    margin: 23px 13px;
}
.card h3{
    text-align: center;
    font-family:'Lobster', cursive ;
    margin: 12px;
    font-size: 24px;
}
#missionsection h2{
    text-align: center;
    padding: 12px;
    font-family: 'Lobster', cursive;
}
#sponser img{
    height: 160px;
    filter: invert(0);
}
#footer{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lobster', cursive;
}